script(type='text/javascript', src='/kindeditor/kindeditor.js')
script(type='text/javascript', src='/kindeditor/lang/zh_CN.js')
script(type='text/javascript', src='/javascripts/edit/edit-loading.js')

div.hero-unit
  form(action='/blog/publish', method='post')
    div 标题
    input#title.input-xxlarge(type='text', name='title', placeholder='请在此输入标题,控制字数在8-20个')
    div 内容
    textarea#editor(name='content')
    button.btn.btn-success(type='submit') 发布