div.navbar.navbar-inverse.navbar-fixed-top
  div.navbar-inner
    div.container-fluid#header
      a.brand Entize
      div.nav-collapse.collapse
        ul.nav.pull-right
          li
            a Home
          li
            a About
          li
            a Concant