doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/blog-home.css')
    link(rel='stylesheet', href='/stylesheets/blog-edit.css')
    link(rel='stylesheet', href='/stylesheets/blog-show.css')
    script(style='text/javascript', src='/javascripts/jquery-1.10.2.js')
    script(style='text/javascript', src='/javascripts/bootstrap.js')
    script(style='text/javascript', src='/javascripts/loading.js')
    script(style='text/javascript', src='/javascripts/requests/ajax-request.js')
  body
    block content