body {
	position: relative;
	padding-top: 40px;
}

#header .brand{
    cursor: pointer;
}

#header ul{
    cursor: pointer;
}

#main-menu {
	text-align: right;
	margin-top: 200px;
	font: 18px "微软雅黑";
}

#main-menu ul {
	padding-left: 100px;
	padding-right: 0px;
	width: 150px;
	cursor: pointer;
}

#main-menu ul :hover {
	text-decoration: underline;
}

#main-menu li {
	line-height: 40px;
}

#main-menu a {
	height: 40px;
	margin-right: -16px;
}

#main-menu .active {
	color: #080808;
}

.row-fluid .vertical-line {
	position: absolute;
	left: 185px;
	top: 45px;
	background: url(../img/line.png);
	width: 1px;
	height: 100%;
	margin-left: 100px;
	-moz-box-shadow: 1px 1px 1px #000;
	-webkit-box-shadow: 1px 1px 1px #000;
	box-shadow: 1px 1px 2px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.navbar .brand {
	padding-right: 0;
	padding-left: 0;
	margin-left: 20px;
	font-weight: bold;
	color: #000;
	text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}

.hero-unit {
	background-color: #FFF;
}

hr {
	margin-top: 10px;
}

#footer {
	bottom: 0px;
	height: 50px;
	color: #B1B1B1;
	text-align: center;
}
